.intro {
    // background: linear-gradient(55deg,$main 30%, lighten($main,0) 90%);
    background: linear-gradient(55deg,$main 30%,lighten($main, 4) 90%);
    @include clearfix;
    color: white;
    .intro-content {
        @extend .center;
        margin: 135px auto ;
        @include display-flex;
        @include flex-flow(row wrap);
        @include justify-content(space-between);
        .intro-content-h{
            font-size: 22px;
            width: 45%;
        }
        
        .intro-content-p {
            width: 45%;
        }
    }

    .intro-banner {
        // background-color: darken($main, 5);
    background: linear-gradient(55deg,darken($main,5) 30%,$main 90%);
        
        margin: 135px 0;

        .intro-banner-content {
            @extend .center;
            padding: 30px 0;

            h1 {
                font-size: 50px;
            }

            .team {
                margin: 15px auto;
                width: 90%;
                @include display-flex;
                @include flex-flow(row wrap);
                @include justify-content(space-between);
                @include align-items(flex-start);
                .team-comp {
                    @include display-flex;
                    @include flex-direction(column);
                    margin: 15px auto;
                    text-align: center;
                    width: 250px;
                    height: 250px;
                    
                    img {
                        width: 210px;
                        height: 195px;
                        border-radius: 100%; 
                        margin: 0 auto;
                    }

                    p {
                        margin: 15px 0;
                    }

                    .team-comp-name {
                        font-weight: 700;
                    }
                    .team-comp-role {
                        font-weight: 300;
                    }
                }
            }
        }
    }

}



@media only screen and (max-width: 768px) {
    .intro {
        .intro-content {
            @include flex-flow(column wrap);
            .intro-content-h, .intro-content-p {
                width: 100%;
            }
        }
    }
}

